
input[type=checkbox]{
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.share-checkbox-group {
  display: flex;
  gap: 1.125rem //18px;
}

.additional-form-information {
  font-size: 0.813rem; //13px
  text-align: center;
  overflow-wrap: break-word;
  line-height: 15.6px;
  span {
    text-decoration: underline;
    color: #65D36E;
  }
}

.first-information {
  inline-size: 278px;

  @media (min-width: 576px) {
    inline-size: 100%;
  }
}

.second-information {
  inline-size: 308px;

  @media (min-width: 576px) {
    inline-size: 100%;
  }
}

.center-self {
  align-self: center;
}

.sign-email__span {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
}

.login-question {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;

  span {
    text-decoration: underline;
    color: #65D36E;
  }
}