/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #000000;
    --color-on-surface: #000000;
    --color-secondary-dark: #444444;
    --color-spotify-standard: #65D36E;
    --color-white-standard: #ffffff;
    --default-input-font-size: 0.875rem; // 14 px
    --bold-font-weight: 700;
    --regular-font-weight: 500;
    --small-font-weight: 400;
}