.header-login--title {
  font-weight: 700;
}

.remember-checkbox-group-login {
  display: flex;
  align-items: center;
  gap: 1.125rem; //18px;
  font-weight: 400;
  font-size: 0.875rem; // 14px
}

.sign-in-group {
  display: flex;
  justify-content: space-between;
}

.login-separator__line {
  height: 1px;
  background: #BBBBBB;
}

.no-account-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; // 24px
}

.no-account__title {
  font-weight: 700;
  font-size: 1.125rem; // 18px
}