.custom-select {
  --select-month-button-height: 3.5rem; // 56px;
  --button-padding-left-right-mobile: 1.5rem; //24px;
  --button-padding-left-right-desktop: 2rem; //32px
  --button-radius: 50px;
  --ul-margin-top: 1rem;
  --ul-margin-top-in-list: 0.5rem; //8px
  --ul-radius: 17px;
  --ul-padding-top-bottom: 1rem; //16px;
  --ul-padding-left-right: 0.75rem; //12px;
  --li-padding-top-bottom: 0.5rem; //8px;
  --li-padding-left-right: 0.75rem; //12px;
  --li-radius: 8px;


  width: 100%;
  position: relative;
  
  .select-month__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--select-month-button-height);
    padding: 0 var(--button-padding-left-right-mobile);
    border: 1px solid var(--color-secondary-dark);
    border-radius: var(--button-radius);
    color: var(--color-gray-placeholder);
    background: var(--color-white-standard);
    cursor: pointer;

    @media (min-width: 576px){
      padding: 0 var(--button-padding-left-right-desktop);
    }
  }
  
  .drop-down__list {
    position: absolute;
    margin-top: var(--ul-margin-in-list);
    width: 100%;
    background: var(--color-white-standard);
    border: 1px solid var(--color-secondary-dark);
    border-radius: var(--ul-radius);
    z-index: 2;
    margin-top: var( --ul-margin-top);
    padding: var(--ul-padding-top-bottom) var(--ul-padding-left-right);
    
    li {
      padding: var(--li-padding-top-bottom) var(--li-padding-left-right);
      list-style:none;
      cursor: pointer;

      &:hover {
        background: var(--color-hover-dropdown);
        border-radius: var(--li-radius);
      }
    }
  }
}
