.form-group {
  font-size: 0.875rem; // 14 px
  font-weight: 700;
}

.label-group {
  padding-bottom: 1rem;
}

.default__input {
  width: 100%;
  height: 56px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 50px;
  font-size: 0.875rem;
  padding-left: 1.5rem; //24px

  @media (min-width: 576px) {
    padding-left: 2rem; //32px
  }
}

.extended-message {
  font-weight: 400;
  margin-top: 1rem;
}

.extended-message--underline {
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem; // 14px
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
}